.container{
    max-width: 1000px;
}
body{
    margin: 0;
    padding: 0;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.App{
    display: flex;
    align-items: stretch;
}
.orders-block{
    width: 40%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.product-block{
    width: 60%;
    background-color: #ccc;
}
.product-block .title{
    margin: 0;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    text-align: end;
}
.all-products{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.orders-block .title{
    background-color: #ccc;
    color: rgb(1, 14, 70);
    margin: 0;
    padding: 5px 10px;
    font-size: 30px;
}


.orders-block__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}