.container{
    max-width: 1000px;
}
body{
    margin: 0;
    padding: 0;
}
*,*::after,*::before{
    box-sizing: border-box;
}
.App{
    display: flex;
}
.orders-block{
    width: 50%;
    border: 1px solid red;
}
.add-product-block{
    width: 50%;
}
.add-product-block .title{
    margin: 0;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    font-size: 30px;
    text-align: end;
}
.all-products{
    background-color: #ccc;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}
.static-product{
    width: 45%;
    background-color: #fff;
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.static-product-name{
    font-size: 26px;
    padding: 10px 0;
    margin: 0;
}
.static-product-price{
    color: rgb(23, 95, 0);
}